.container {
    padding: 10px;
    max-width: 70%;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.hidden {
    display: none;
}
